.box {
  width: 100%;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  transition: all 1s ease;

  box-shadow: 3px 3px 8px 0px #47474773;
}

.box--dark {
  box-shadow: 3px 3px 8px 0px #00000073;
  border: 1px solid #919191;
}
